* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--neon-green: #2ecc71;
	--green: #00cc66;
	--blue: #3498db;
	--dark-grey: #191919;
}

body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden !important;
	background: var(--dark-grey);
}

header {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: var(--dark-grey);
	z-index: 1;
	padding: 10px 20px;
	height: 10vh;
	transition: all 0.4s ease-in-out;
}

header.active {
	box-shadow: rgba(255, 255, 255, 0.7) 0px 2px 5px;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	list-style: none;
	background: var(--neon-green);
	color: white;
	text-transform: uppercase;
	transform: translateX(100%);
	transition: all 0.4s linear;
}

nav.active {
	transform: translateX(0);
}

.nav-link {
	position: relative;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 5px;
	right: 5px;
}

@media screen and (min-width: 768px) {
	.hamburger {
		display: none;
	}

	header {
		height: 12vh;
	}

	nav {
		flex-direction: row;
		align-items: center;
		background-color: transparent;
		transform: translateX(0);
		padding: 30px 20px;
		font-weight: normal;
		height: inherit;
		width: 90%;
		font-size: 24px;
	}

	.nav-link::after {
		content: "";
		width: 0%;
		height: 3px;
		background: var(--neon-green);
		position: absolute;
		bottom: -5px;
		left: 0;
		border-radius: 2px;
		transition: 0.3s;
	}

	.nav-link:hover::after {
		width: 105%;
	}
}

.home {
	margin-top: 80px;
}

.home-image {
	width: 75%;
	margin: 0 auto;
	display: block;
}

.home-content {
	text-align: center;
	color: white;
}

.home-content h1 {
	margin-top: 32px;
	font-size: 65px;
}

.home-content span {
	font-size: 28px;
	display: block;
	margin-top: 5px;
}

.home-content span:nth-of-type(1) {
	margin-top: 15px;
}

@media screen and (min-width: 768px) {
	.home {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 85%;
		margin: 80px auto;
	}

	.home-image {
		order: 2;
		width: 40%;
	}
}

@media screen and (min-width: 1280px) {
	nav {
		width: 60%;
	}
}

.title {
	font-size: 26px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 150px auto 20px auto;
	position: relative;
	width: max-content;
}

.title-main {
	background: var(--neon-green);
	padding: 10px;
	border-top-left-radius: 15px;
	display: inline;
}

.about-me-content {
	color: white;
	padding: 35px;
	font-size: 21px;
	text-align: justify;
}

.about-me-image {
	width: 75%;
	margin: 35px auto;
	display: block;
}

@media screen and (min-width: 768px) {
	.about-me-items {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 85%;
		margin: 80px auto;
	}

	.about-me-image {
		width: 40%;
		order: -1;
	}
}

@media screen and (min-width: 1024px) {
	.about-me-content {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) {
	.about-me-content {
		width: 40%;
	}
}

.tech-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	margin-top: 40px;
	padding: 20px;
}

.tech-item {
	padding: 30px;
	box-shadow: rgba(75, 75, 75, 0.7) 2px 2px 2px;
	border-radius: 5px;
	transition: 0.3s;
}

.tech-item:hover {
	box-shadow: rgba(46, 204, 113, 0.7) 2px 2px 2px;
}

.tech-item img {
	width: 80px;
	height: 80px;
}

.tech-title {
	text-align: center;
	color: white;
	margin-top: 15px;
	font-size: 17px;
}

.about-learning {
	color: white;
	padding: 35px;
	font-size: 21px;
	text-align: justify;
}

.about-learning a {
	color: var(--neon-green);
	text-decoration: none;
}

.about-learning a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 1024px) {
	.about-learning {
		width: 50%;
		margin: 0 auto;
	}
}

.projects {
	color: white;
}

.projects-content {
	margin-top: 50px;
}

.project-info {
	display: flex;
	justify-content: space-between;
}

.project-card {
	padding: 10px 40px;
	/* width: 85%; */
	margin-top: 80px;
}

.project-name {
	font-weight: bold;
	color: var(--neon-green);
	border-bottom: 3px solid var(--neon-green);
	font-size: 22px;
}

.project-link {
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;
}

.project-link:hover {
	color: var(--neon-green);
}

.project-card img {
	display: block;
	width: 75%;
	margin: 0 auto;
	margin-top: 50px;
}

.project-description {
	margin-top: 30px;
	text-align: justify;
}

.technologies-title {
	font-weight: bold;
	color: var(--neon-green);
	border-bottom: 3px solid var(--neon-green);
	font-size: 17px;
	line-height: 36px;
	margin-top: 10px;
	text-align: center;
}

.technologies-icons {
	display: flex;
}

.technologies-icons img {
	width: 12%;
}

.see-more {
	text-align: center;
	font-size: 18px;
	margin-top: 80px;
}

.see-more a {
	text-decoration: none;
	color: var(--neon-green);
}

.see-more a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.projects-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.project-card {
		width: 50%;
	}

	.project-card:nth-child(3),
	.project-card:nth-child(4) {
		margin-top: 170px;
	}

	.project-card img {
		height: 30%;
	}

	.project-description {
		min-height: 35%;
	}
}

@media screen and (min-width: 1280px) {
	.project-card {
		width: 42%;
	}

	.technologies-icons img {
		width: 7%;
	}

	.project-description {
		min-height: 22%;
	}

	.project-card:nth-child(3),
	.project-card:nth-child(4) {
		margin-top: 70px;
	}

	.see-more {
		margin-top: 0;
		font-size: 22px;
	}
}

@media screen and (min-width: 1600px) {
	.project-description {
		min-height: 15%;
	}
}

.contact {
	color: white;
}

.contact form {
	margin: 50px auto;
	width: 80%;
}

.contact form label {
	display: block;
	font-size: 20px;
	margin: 20px 0;
	text-align: center;
}

.contact form input {
	display: block;
	width: 90%;
	margin: 0 auto;
	font-size: 17px;
	background-color: transparent;
	border: 2px solid var(--neon-green);
	border-radius: 5px;
	padding: 7px;
	color: white;
	outline: none;
	transition: 0.4s;
}

.contact form input:focus {
	width: 100%;
	border-color: var(--blue);
}

.contact form textarea {
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	border: 2px solid var(--neon-green);
	border-radius: 7px;
	outline: none;
	transition: 0.4s;
	color: white;
	font-size: 17px;
}

.contact form textarea:focus {
	border-color: var(--blue);
}

.contact form .send-msg {
	display: block;
	background-color: var(--neon-green);
	padding: 14px 40px;
	margin: 0 auto;
	cursor: pointer;
	color: white;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 18px;
	transition: 0.3s;
}

.contact form .send-msg:hover {
	background-color: var(--blue);
	padding: 14px 45px;
}

.contact-img {
	display: block;
	width: 80%;
	margin: 50px auto;
}

.contact-icons {
	display: flex;
	justify-content: center;
}

.contact-icons img {
	display: block;
	width: 25%;
	margin: 35px auto;
}

@media screen and (min-width: 768px) {
	.contact-icons img {
		width: 15%;
	}
}

@media screen and (min-width: 1024px) {
	.contact-form {
		display: flex;
		justify-content: center;
	}
	.contact-icons img {
		width: 10%;
	}

	.contact-img {
		width: 45%;
	}

	.contact form {
		width: 40%;
	}
}

@media screen and (min-width: 1280px) {
	.contact {
		width: 75%;
		margin: 0 auto;
	}
	.contact-img {
		width: 45%;
	}

	.contact form {
		width: 40%;
	}
}

.thanks-for-email {
	color: white;
	min-height: 94vh;
}

.thanks-for-email p {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

.thanks-for-email p span {
	font-size: 17px;
	font-weight: normal;
	display: block;
	margin-top: 25px;
}

.thanks-for-email p span a {
	text-decoration: none;
	color: var(--neon-green);
}

.thanks-for-email p span a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 1280px) {
	.thanks-for-email p {
		font-size: 48px;
	}

	.thanks-for-email p span {
		font-size: 22px;
	}
}

footer {
	text-align: center;
	background: var(--neon-green);
	color: white;
	padding: 20px 0;
	font-size: 14px;
}
